tmp/
_build
cover
deps
doc
.fetch
.elixir_ls/
erl_crash.dump
*.ez
*.beam
config/*.secret.exs
*~
tekstaro-*.tar
npm-debug.log
assets/node_modules/
priv/static
assets/.babelrc
assets/package-lock.json
.DS_Store
shipit.sh
shipit.log
accessKeys.csv
credentials.csv
