tmp/
tekstaro/_build
tekstaro/cover
tekstaro/deps
tekstaro/doc
tekstaro/.fetch
erl_crash.dump
*.ez
*.beam
/tekstaro/config/*.secret.exs
*~
tekstaro-*.tar
npm-debug.log
tekstaro/assets/node_modules/
tekstaro/priv/static
tekstaro/assets/.babelrc
tekstaro/assets/package-lock.json
mix.lock
.DS_Store
