<!DOCTYPE html>
<html lang="<%= @locale %>">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= gettext("Tekstaro - a corpus of Esperanto usage") %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <section class="container">
        <a href="/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/tekstaro.png") %>" alt="Tekstaro Logo"/>
        </a>
      </section>
      <section class="container">
        <nav role="navigation">
          <ul id="tekstaro_menu_ul">
            <!-- <%= sign_in  = gettext("Sign in")   %> -->
            <!-- <%= sign_out = gettext("Sign out")  %> -->
            <!-- <%= sign_up  = gettext("Register")  %> -->
            <li class="tekstaro_menu tekstaro_menu_search teskaro_menu_active" ><a href="/"><%= gettext "Search corpus" %></a></li>
            <li class="tekstaro_menu tekstaro_menu_browse" ><a href="/browse"><%= gettext "Browse corpus" %></a></li>
            <%= if signed_in?(@conn) do %>
              <li class="tekstaro_menu tekstaro_menu_upload"><a href="/upload"><%= gettext "Upload Text" %></a></li>
              <li class="tekstaro_menu tekstaro_menu_sign_out"><%= link sign_out, to: Routes.session_path(@conn, :logout, @locale), method: :delete %></li>
            <% else %>
              <li class="tekstaro_menu tekstaro_menu_sign_in"><%= link sign_in,  to: Routes.session_path(@conn, :new, @locale) %></li>
              <li class="tekstaro_menu tekstaro_menu_sign_up"><%= link sign_up,  to: Routes.user_path(@conn, :new, @locale) %></li>
            <% end %>
            <li><a href="https://github.com/gordonguthrie/radikigo"><%= gettext "On Github" %></a></li>
            <li>
              <select id="tekstaro_language">
               <option value="en">English</option>
               <option value="eo">Esperanto</option>
              </select>
            </li>
          </ul>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
   </body>
  </html>
